/* main variables */
.header a, .footer a {
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.header a:hover, .footer a:hover {
  color: #ff0000;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "opensans-regular", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #41454f;
  font-weight: 400;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  height: 100%;
  position: relative;
}

/*MAIN*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input,
textarea {
  color: #333;
  font-family: "opensans-regular", sans-serif;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
}

input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

td {
  margin: 0px;
  padding: 0px;
}

form {
  padding: 0px;
  margin: 0px;
}

a {
  color: #41454f;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
span,
div,
button {
  outline: none !important;
}

input[type="submit"],
input[type="button"],
button {
  -webkit-appearance: none;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@font-face {
  font-family: "opensans-bold";
  src: url("../fonts/opensans/bold/opensans-bold.eot");
  src: url("../fonts/opensans/bold/opensans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/bold/opensans-bold.woff2") format("woff2"), url("../fonts/opensans/bold/opensans-bold.woff") format("woff"), url("../fonts/opensans/bold/opensans-bold.ttf") format("truetype"), url("../fonts/opensans/bold/opensans-bold.svg#opensans-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "opensans-light";
  src: url("../fonts/opensans/light/opensans-light.eot");
  src: url("../fonts/opensans/light/opensans-light.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/light/opensans-light.woff2") format("woff2"), url("../fonts/opensans/light/opensans-light.woff") format("woff"), url("../fonts/opensans/light/opensans-light.ttf") format("truetype"), url("../fonts/opensans/light/opensans-light.svg#opensans-light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "opensans-regular";
  src: url("../fonts/opensans/regular/opensans-regular.eot");
  src: url("../fonts/opensans/regular/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/regular/opensans-regular.woff2") format("woff2"), url("../fonts/opensans/regular/opensans-regular.woff") format("woff"), url("../fonts/opensans/regular/opensans-regular.ttf") format("truetype"), url("../fonts/opensans/regular/opensans-regular.svg#opensans-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "oswald-bold";
  src: url("../fonts/oswald/oswald-bold.eot");
  src: url("../fonts/oswald/oswald-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald/oswald-bold.woff2") format("woff2"), url("../fonts/oswald/oswald-bold.woff") format("woff"), url("../fonts/oswald/oswald-bold.ttf") format("truetype"), url("../fonts/oswald/oswald-bold.svg#oswald-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* fonts */
@font-face {
  font-family: "GT Haptik Black";
  src: url("../fonts/GT-Haptik-Black/GT-Haptik-Black.woff2") format("woff2"), url("../fonts/GT-Haptik-Black/GT-Haptik-Black.woff") format("woff"), url("../fonts/GT-Haptik-Black/GT-Haptik-Black.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "GT Haptik Bold";
  src: url("../fonts/GT-Haptik-Bold/GT-Haptik-Bold.woff2") format("woff2"), url("../fonts/GT-Haptik-Bold/GT-Haptik-Bold.woff") format("woff"), url("../fonts/GT-Haptik-Bold/GT-Haptik-Bold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Mr Eaves XL Modern Reg";
  src: url("../fonts/MrEavesXLModOT-Reg/MrEavesXLModOT-Reg.woff2") format("woff2"), url("../fonts/MrEavesXLModOT-Reg/MrEavesXLModOT-Reg.woff") format("woff"), url("../fonts/MrEavesXLModOT-Reg/MrEavesXLModOT-Reg.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Mr Eaves XL Modern Bold";
  src: url("../fonts/MrEavesXLModOT-Bold/MrEavesXLModOT-Bold.woff2") format("woff2"), url("../fonts/MrEavesXLModOT-Bold/MrEavesXLModOT-Bold.woff") format("woff"), url("../fonts/MrEavesXLModOT-Bold/MrEavesXLModOT-Bold.otf") format("opentype");
  font-weight: bold;
}

html,
body {
  height: 100%;
}

/* titles */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 15px 0;
}

p {
  font-family: "opensans-regular", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #41454f;
  font-weight: 400;
  letter-spacing: normal;
}

h1 {
  font-family: "opensans-regular", sans-serif;
  font-size: 24px;
  line-height: 1.4;
  color: #15375c;
  font-weight: 400;
  letter-spacing: normal;
}

h2 {
  font-family: "opensans-regular", sans-serif;
  font-size: 22px;
  line-height: 1.4;
  color: #15375c;
  font-weight: 400;
  letter-spacing: normal;
}

h3 {
  font-family: "opensans-regular", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  color: #15375c;
  font-weight: 400;
  letter-spacing: normal;
}

ul,
li {
  list-style: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.lined {
  text-decoration: line-through;
}

.content {
  padding: 15px 0;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main-wrapper main.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.wrapper {
  max-width: 1200px;
  min-width: 320px;
  height: 100%;
}

.wrapper_full-width {
  max-width: 100%;
}

.wrapper__inner {
  margin: 0 58px;
  height: 100%;
}

.wrapper__inner_full-width {
  margin-left: 0;
  margin-right: 0;
}

.wrapper__inner-row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .wrapper__inner {
    padding-left: 0;
    padding-right: 0;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.lang {
  display: block;
  padding: 0 16px 0 0;
  margin: 0;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  background-image: url("../images/icons/triangle-close.svg");
  background-repeat: no-repeat;
  background-position: right 3px top 50%;
  background-size: 8px auto;
  font-family: "opensans-regular", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #41454f;
  font-weight: 400;
  letter-spacing: normal;
  /* Hide arrow icon in IE browsers */
}

.lang::-ms-expand {
  display: none;
}

.lang:focus {
  outline: none;
}

.lang_mo {
  display: none;
}

.lang__option {
  font-family: "opensans-regular", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #41454f;
  font-weight: 400;
  letter-spacing: normal;
}

.footer .lang,
.footer .lang__option {
  color: #6A6F72;
}

@media screen and (max-width: 1150px) {
  .lang .lang, .lang .lang__option {
    font-size: 14px;
  }
  .lang_desk {
    display: none;
  }
  .lang_mo {
    display: block;
  }
}

.header {
  height: 70px;
  position: relative;
  border-bottom: 1px solid #d8dae0;
}

.header__logo {
  display: block;
  position: relative;
  top: -4px;
  cursor: pointer;
}

.header__logo_mo {
  display: none;
}

.header__logo-img {
  width: 140px;
}

.header__lang {
  margin-right: auto;
  padding: 0 15px 0 30px;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__items_right {
  margin-left: auto;
}

.header__menu-list, .header__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "opensans-regular", sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: #6A6F72;
  font-weight: 400;
  letter-spacing: normal;
}

.header__menu-link {
  display: block;
  padding: 0 15px;
  color: #6A6F72;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 25px;
}

.header__item-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__item-qty {
  display: block;
  position: absolute;
  right: -7px;
  top: -14px;
  padding: 5px 5px;
  border-radius: 3px;
  background-color: rgba(248, 213, 57, 0.8);
  z-index: 1;
  font-weight: bold;
  font-size: 15px;
  line-height: 1;
}

.header__item-logo-img {
  width: 31px;
}

.header__item-text {
  padding: 0 0 0 17px;
  font-family: "opensans-regular", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #15375c;
  font-weight: 600;
  letter-spacing: normal;
}

@media screen and (max-width: 1150px) {
  .header__logo {
    display: none;
  }
  .header__logo_mo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__support, .header__user {
    display: none;
  }
  .header__lang {
    padding-right: 0;
    padding-left: 15px;
  }
  .header__menu-btn {
    z-index: 2;
  }
  .header__menu {
    max-height: 0;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 0;
    right: 0;
    background-color: #fff;
    -webkit-transition: max-height 0.5s ease 0s;
    -o-transition: max-height 0.5s ease 0s;
    transition: max-height 0.5s ease 0s;
    overflow: hidden;
  }
  .header__menu.active {
    display: block;
    max-height: 300px;
    height: auto;
    -webkit-transition: max-height 0.5s ease 0s;
    -o-transition: max-height 0.5s ease 0s;
    transition: max-height 0.5s ease 0s;
  }
  .header__menu-list, .header__menu-item {
    display: block;
  }
  .header__menu-item {
    border-bottom: 1px solid #edeff3;
  }
  .header__menu-link {
    text-align: center;
    padding: 10px;
  }
  .header__item-text {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 50px;
  }
  .header__logo-img {
    width: 110px;
  }
  .header__item-logo-img {
    width: 20px;
  }
  .header__item-qty {
    font-size: 13px;
    padding: 3px 4px;
    top: -8px;
  }
  .header__item {
    padding-left: 22px;
  }
  .header__lang {
    padding-left: 10px;
  }
}

.slider__item {
  position: relative;
  max-width: 405px;
}

.slider__link {
  background-position: center;
  background-size: cover;
  display: block;
  position: relative;
  margin: 0 7px;
  padding: 0 0 132% 0;
  overflow: hidden;
  border: 1px solid #d8dee1;
}

.slider__info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 10px 7px 20px;
}

.slider__title {
  font-family: "GT Haptik Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 5px 0;
  padding: 0;
  text-transform: uppercase;
}

.slider__subtitle {
  margin: 0 0 7px 0;
  padding: 0;
}

.wrapper__inner-row_footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.wrapper__inner-row_footer-bottom {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  padding-top: 47px;
  padding-bottom: 20px;
}

.footer {
  border-top: 1px solid #d8dae0;
  padding: 40px 0 0;
}

.footer .footer__list-item, .footer .footer__legal-item {
  font-family: "opensans-regular", sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: #6A6F72;
  font-weight: 400;
  letter-spacing: normal;
}

.footer .footer__list-item a, .footer .footer__legal-item a {
  color: #6A6F72;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer__item {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer__nav {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.footer__item {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__nav {
  padding-left: 0;
  display: block;
}

.footer__item-title {
  padding: 0;
  margin: 0 0 23px 0;
}

.footer__list-item {
  margin: 0 0 12px 0;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 16px 0;
}

.footer__logo-img {
  width: 137px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__socials-item {
  margin: 0 8px 0 0;
}

.footer__socials-link {
  display: block;
}

.footer__socials-icon {
  width: 30px;
}

.footer__legal-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__legal-item {
  margin: 0 15px 0 0;
}

/*# sourceMappingURL=style.css.map */
